#####            helm install eck-stack-new elastic/eck-stack -f production-values.yaml -n monitoring --create-namespace  ########
#
elasticsearch:
  spec:
    nodeSets:
    - name: default
      count: 1
      config:
        node.store.allow_mmap: false
        discovery.type: single-node
      podTemplate:
        spec:
          nodeSelector:
            node-type: high-resource
          containers:
          - name: elasticsearch
            resources:
              requests:
                memory: 4Gi
                cpu: 1
              limits:
                memory: 4Gi

kibana:
  spec:
    count: 1
    http:
      tls:
        selfSignedCertificate:
          disabled: true
      service:
        metadata:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
            service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
            service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-east-1:..."
            service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
        spec:
          type: LoadBalancer
          ports:
          - name: https
            port: 443
            targetPort: 5601
    podTemplate:
      spec:
        containers:
        - name: kibana
          resources:
            requests:
              memory: 2Gi
            limits:
              memory: 2Gi
