# Use this for the eck-stack-with-logstash helm chart
elasticsearch:
  spec:
    nodeSets:
    - name: default
      count: 1
      podTemplate:
        spec:
          nodeSelector:
            node-type: high-resource # Ensure nodes are labeled on the new server
          containers:
          - name: elasticsearch
            resources:
              requests:
                memory: 4Gi
                cpu: 1
              limits:
                memory: 4Gi

kibana:
  spec:
    count: 1
    http:
      tls:
        selfSignedCertificate:
          disabled: true # Required for ACM SSL termination
      service:
        metadata:
          annotations:
            service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
            service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
            service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:us-east-1:868812195972:certificate/116f54aa-1515-4c7e-8de9-27fcd88f0925"
            service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
        spec:
          type: LoadBalancer
          ports:
          - name: https
            port: 443
            targetPort: 5601

logstash:
  spec:
    count: 1
    elasticsearchRefs:
      - clusterName: eck
        name: elasticsearch
    pipelines:
    - pipeline.id: main
      config.string: |
        input {
          beats { port => 5044 }
        }
        output {
          elasticsearch {
            hosts => [ "${ECK_ES_HOSTS}" ]
            user => "${ECK_ES_USER}"
            password => "${ECK_ES_PASSWORD}"
            ssl_enabled => true # New syntax for v9.x
            ssl_verification_mode => "none" # New syntax for v9.x
          }
        }

beats:
  spec:
    type: filebeat
    config:
      filebeat.autodiscover:
        providers:
          - type: kubernetes
            node: ${NODE_NAME}
            hints.enabled: true
      output.logstash:
        hosts: ["logstash-ls-beats-ls-beats:5044"]
    daemonSet:
      podTemplate:
        spec:
          serviceAccountName: filebeat
          automountServiceAccountToken: true
          containers:
          - name: filebeat
            securityContext:
              runAsUser: 0 # Required to read /var/log/containers
            env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            volumeMounts:
            - name: varlogcontainers
              mountPath: /var/log/containers
              readOnly: true
            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true
          volumes:
          - name: varlogcontainers
            hostPath:
              path: /var/log/containers
          - name: varlogpods
            hostPath:
              path: /var/log/pods
